.top-container{
    /* display: flex;  */
    font-family:Arial, Helvetica, sans-serif;
    
}
.container-fluid{
    padding: 3% 20%;
}
.head-box{
    background-color: #ff4c68;
}
h1{
    color: #fff;
    font-size: 3.5rem;
    line-height: 1.1;
    font-weight: bolder;
}
h2{
    font-weight: bolder;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
}
.download-button{
    margin: 5% 3% 5% 0%;
}
.title-image{
    width: 60%;
    transform: rotate(25deg);
}
/* @media only screen and (max-width: 1016px) {
    
.head-box{
    
    display: flex;
    flex-direction: column;
    
}
.title-image{
    width: 300px;
    height: auto;
}

} 
@media only screen and (max-width: 600px){
.title-image{
        width: 150px;
        margin-top: 30px;
    }
h1{
    font-size: 30px;
    }

} */
#features{
    color: #fff;
    padding: 7% 15%;
    position: relative;
    z-index: 1;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
p{
    color: #8f8f8f;
    
}

/* testimonials section */
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
#press{
    background-color:#ef8172 ;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
/* working on cta */

#cta{
    background-color:#ff4c68;
    text-align: center;    
    padding: 7% 15%;
}
.cta-banner{
    color: #fff;
    font-size: 3.5rem;
    line-height: 1.5;
}
.download-buttons{
    margin: 2% 2% ;
}
/* footer section */
#footer{
    padding:7% 15%;
    text-align: center;
}
.footer-icon{
    margin: 20px 10px;
}
@media only screen and (max-width:1028px){
    
 .head-box{
     text-align: center;
    }

.title-image{
     position: static;
    transform: rotate(0);
    }

}

         